<%- include("include/head.ejs") %>
<body>
    <h1>Username : @<%= data.name %></h1>
    <h2>Followers : <%= data.followers %> &nbsp; &nbsp; &nbsp; &nbsp; Following : <%= data.following %></h2>
    <button>Follow</button> <button>Message</button>
    
    <h3>Posts</h3>
    <div>
        <% for (let post of data.posts){ %>
            <div class="posts">
                <img src="<%= post.image %>"/>
                <h4>Likes : <%= post.likes %> &nbsp;&nbsp;&nbsp;&nbsp; Comments : <%=post.likes%> </h4>
            </div>            
        <% } %>
    </div>
</body>
</html>