<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Chats</title>
    <link rel="stylesheet" href="/edit.css"/>
</head>
<body>
    <h1>Edit Chat</h1>
    <div>
        <form method="POST" action="/chats/<%= chat._id %>?_method=PUT">
            <p> ID : <%= chat._id %></p>
            <p>From : <i> <%= chat.from %></i></p>
            <p>To : <i> <%= chat.to %></i></p>
            <p>Message : <i><%= chat.msg %></i></p>
            <input type="text" name="msg" placeholder="<%= chat.msg %>"required/>
            <button>Update</button>
        </form>
    </div>
</body>
</html>